{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
<title>Projeto Sparrow</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Digital Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="{% static 'css/style.css'%}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	
	<!-- google fonts -->
	<link href="fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<!-- //google fonts -->
	
</head>

<body>
<header class="py-4">
	<div class="container">
			<div id="logo">
				<h1> <a href="#"> <img src="{% static 'images/logowhite.png'%}" alt="" class="img-logo"></a></h1>
			</div>
		<!-- nav -->
		<nav class="d-lg-flex">
			<label for="drop" class="toggle"><span class="fa fa-bars" aria-hidden="true"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-2 ml-auto">
				<li class=""><a href="{% url 'home' %}">Home</a></li>
				<li class=""><a href="#about">Sobre</a></li>
				<li class=""><a href="#agents">Time</a></li>
				<a class="" href="#portfolio">Portfolio</a>
				{% if request.user.is_authenticated %}
					<li class=""><a href="#">Bem-vindo {{request.user.email}}</a></li>
				{% endif %}
			</ul>
			<div class="login-icon ml-lg-2">
				{% if not request.user.is_authenticated %}
					<a class="user" href="#popup3"> Login</a>
				{% else %}
					<a class="user" href="{% url 'logout' %}"> Logout</a>
				{% endif %}
			</div>
		</nav>
		<div class="clear"></div>
		<!-- //nav -->
	</div>
</header>
<!-- //header -->
		
<!-- banner -->
<div class="banner" id="home">
	<div class="container">
		<div class="row banner-text">
			<div class="slider-info col-lg-6">
				<div class="banner-info-grid mt-lg-5">
					<h2>Projeto Sparrow</h2>
					<p>Auxiliar empresas na busca de produtos que violem os seus direitos de propriedade intelectual. 
						Utilizando aprendizado de máquina supervisionado e técnicas de web scraping..</p>
				</div>
				<a class="btn mr-2 text-capitalize" href="#about">Leia mais </a>
			</div>
			<div class="col-lg-6 col-md-8 mt-lg-0 mt-sm-5 mt-3 banner-image text-lg-center">
				<img src="{% static 'images/bannerpng.png'%}" alt="" class="img-fluid"/>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-lg-5 py-sm-3">
		<div class="row">
			<div class="col-lg-3 about-left">	
				<h3 class="heading mb-lg-5 mb-4">Sobre o Projeto</h3>
			</div>
			<div class="col-lg-5 col-md-7 about-text">
				<h3>Resumo </h3>
				<p class="mt-3">Este projeto de pesquisa consiste no desenvolvimento de uma ferramenta para reconhecimento de padrões de características de produtos anunciados em marketplaces, para fins de classificação de produtos originais e falsificados.</p>
				<p class="mt-2">O objetivo desta pesquisa é a implementação de um algoritmo de aprendizado supervisionado aplicado ao reconhecer padrões, denominado Sparrow. </p>
			</div> 
			<div class="col-lg-4 col-md-5 about-img">
				<img src="{% static 'images/1.png'%}" alt="" class="img-fluid"/>
			</div>
		</div>
	</div>
</section>
<!-- //about -->

<!-- why choose us -->
<section class="choose py-5" id="services">
	<div class="container py-md-3">
		<h3 class="heading mb-5">Funcionalidades Sparrow</h3>
		<div class="feature-grids row">
			<div class="col-lg-3 col-sm-6">
				<div class="f1 icon1 p-4">
					<div class="icon">
						<span class="fa fa-bandcamp"></span>
					</div>
					<h3 class="my-3">Extração de dados</h3>
					<p>Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper.</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
				<div class="f1 icon2 p-4">
					<div class="icon">
						<span class="fa fa-codepen"></span>
					</div>
					<h3 class="my-3">Sistema Especialista</h3>
					<p>Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper.</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
				<div class="f1 icon3 p-4">
					<div class="icon">
						<span class="fa fa-btc"></span>
					</div>
					<h3 class="my-3">Apredizado Supervisionado</h3>
					<p>Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper.</p>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
				<div class="f1 icon4 p-4">
					<div class="icon">
						<span class="fa fa-cloud"></span>
					</div>
					<h3 class="my-3">Cloud Computing</h3>
					<p>Excepteur sint occaecat non proident, sunt in culpa quis. Phasellus lacinia id erat eu ullamcorper.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //why choose us -->

<!-- video -->
<section class="video py-5" id="video">
	<div class="container">
		<div class="inner-sec-w3ls py-lg-5 py-3">
			<div class="row">
				<div class="col-lg-6 video-right px-lg-5 px-2">
					<h3 class="tittle-w3">Projeto Sparrow mais a fundo</h3>
					<p class="mt-4">
						O Sparrow conta com sistema de autenticação, bastando apenas realizar o registro na página de cadastro. Após o envio dos dados, um e-mail de confirmação é enviado para o usuário. 	
						Na página inicial é possível ver dashboards informativos de todos os anúncios coletados em um determinado tempo, segregados entre produtos originais e falsificados
						O processo de busca de anúncios é acionado pelo usuário quando ele digita o nome do produto a ser coletado e processado, com isso o Sparrow busca por todos os anúncios relacionados àquele produto nos marketplaces. 
						Quando um anúncio é coletado, o software seleciona o produto e o classifica se é original ou falso atribuindo-o uma porcentagem que revela o quanto o software acredita que aquele produto é falso, por exemplo: Produto A é falso com 83.32% de certeza, e caso seja detectado (por parte do usuário) um erro de classificação, pode-se submeter um feedback que é enviado diretamente para o treinamento da IA onde a informação será assimilada e utilizada nos próximos processamentos.
					</p>
				</div>
				<div class="col-lg-6 video-img mt-lg-0 mt-4">
					<img src="{% static 'images/banner.png'%}" alt="" class="img-fluid">
					<img src="{% static 'images/banner.png'%}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //video -->

<!-- portfolio -->
<section class="portfolio py-5" id="portfolio">
	<div class="container py-3">
		<h3 class="heading text-capitalize mb-md-5 mb-4">Our Portfolio <span></span></h3>
		<div class="row news-grids text-center">
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal1"><img src="{% static 'images/g1.jpg'%}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal2"><img src="{% static 'images/g2.jpg'%}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal3"><img src="{% static 'images/g3.jpg'%}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal4"><img src="{% static 'images/g4.jpg'%}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal5"><img src="{% static 'images/g5.jpg'%}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal6"><img src="{% static 'images/g6.jpg'%}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal7"><img src="{% static 'images/g7.jpg'%}" alt="portfolio image" class="img-fluid"></a>
			</div>
			<div class="col-md-3 col-6 gal-img">
				<a href="#gal8"><img src="{% static 'images/g8.jpg'%}" alt="portfolio image" class="img-fluid"></a>
			</div>
		</div>
		<!-- portfolio popups -->
			<!-- popup-->
			<div id="gal1" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g1.jpg'%}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal2" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g2.jpg'%}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal3" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g3.jpg'%}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup3 -->
			<!-- popup-->
			<div id="gal4" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g4.jpg'%}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal5" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g5.jpg'%}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal6" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g6.jpg'%}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal7" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g7.jpg'%}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- popup-->
			<div id="gal8" class="pop-overlay animate">
				<div class="popup">
					<img src="{% static 'images/g8.jpg'%}" alt="Popup Image" class="img-fluid" />
					<p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat dolor.</p>
					<a class="close" href="#portfolio">&times;</a>
				</div>
			</div>
			<!-- //popup -->
			<!-- //portfolio popups -->
	</div>
</section>
<!-- //Projects -->

<!-- Team page -->
<section class="section pt-5" id="agents">
		<div class="container py-lg-5">
			<h2 class="heading mb-sm-5 mb-4"> Time de Desenvolvimento</h2>
			<div class="section_header">
				<div class="row">
					<div class="col-md-3 col-sm-6 mb-5">
						<div class="teamy_preview">
							<img src="{% static 'images/team1.jpg'%}" class="teamy_avatar" alt="The demo photo">
						</div>
						<div class="teamy_content mt-3">
							<h3 class="teamy_name">Suzan Lois</h3>
							<span class="teamy_post">CEO/Founder</span>
						</div>
						<div class="teamy_back">
							<div class="teamy_back-inner">
								<a href="#0" class="social"> 
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#0" class="social">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#0" class="social">
									<span class="fa fa-envelope-open"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mb-5">
						<div class="teamy_preview">
							<img src="{% static 'images/team2.jpg'%}" class="teamy_avatar" alt="The demo photo">
						</div>
						<div class="teamy_content mt-3">
							<h3 class="teamy_name">Dora Caelan</h3>
							<span class="teamy_post">Marketing Manager</span>
						</div>
						<div class="teamy_back">
							<div class="teamy_back-inner">
								<a href="#0" class="social"> 
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#0" class="social">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#0" class="social">
									<span class="fa fa-envelope-open"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 mb-5">
						<div class="teamy_preview">
							<img src="{% static 'images/team3.jpg'%}" class="teamy_avatar" alt="The demo photo">
						</div>    
						<div class="teamy_content mt-3">
							<h3 class="teamy_name">Rosanna</h3>
							<span class="teamy_post">Sales Executive</span>
						</div>
						<div class="teamy_back">
							<div class="teamy_back-inner">
								<a href="#0" class="social"> 
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#0" class="social">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#0" class="social">
									<span class="fa fa-envelope-open"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6  mb-5">
						<div class="teamy_preview">
							<img src="{% static 'images/team4.jpg'%}" class="teamy_avatar" alt="The demo photo">
						</div>
						<div class="teamy_content mt-3">
							<h3 class="teamy_name">Rose Alpha</h3>
							<span class="teamy_post">Product Manager</span>
						</div>
						<div class="teamy_back">
							<div class="teamy_back-inner">
								<a href="#0" class="social"> 
									<span class="fa fa-facebook"></span>
								</a>
								<a href="#0" class="social">
									<span class="fa fa-twitter"></span>
								</a>
								<a href="#0" class="social">
									<span class="fa fa-envelope-open"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- //Team page -->		

<!-- footer -->
<footer class="footer-emp-w3ls py-5">
	<div class="container pt-lg-3">
		<div class="row footer-top">
			<div class="col-lg-4 col-sm-6 footer-grid-wthree">
				<h4 class="footer-title text-uppercase mb-4">Who We Are</h4>
				<div class="contact-info">
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium ipsum doloremque elit laudantium, totam rem
						aperiam, eaque ipsa quae. Excepteur ut occaecat proident, sunt voluptatem et accusantium doloremque elit dolor sit amet.</p>
					<h4 class="mt-3">Trusted by more than 1000+ people</h4>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 footer-grid-wthree mt-lg-0 mt-sm-5 mt-4">
				<h3 class="footer-title text-uppercase mb-4">Contact Us</h3>
				<div class="contact-info">
					<div class="footer-style-w3ls">
						<h4 class="mb-2"> <span class="fa mr-1 fa-map-marker"></span> Location</h4>
						<p>Marketing Agency, 5th cross, 4th building, New York City.</p>
					</div>
					<div class="footer-style-w3ls my-3">
						<h4 class="mb-2"><span class="fa mr-1 fa-phone"></span> Phone</h4>
						<p>+121 098 8907 9987</p>
					</div>
					<div class="footer-style-w3ls">
						<h4 class="mb-2"><span class="fa mr-1 fa-envelope-open"></span> Email</h4>
						<p><a href="mailto:info@example.com">info@example.com</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copy-right-top border-top">
	<p class="copy-right text-center py-4">&copy; 2019 Digital. All Rights Reserved | Design by
		<a href="/"> Projeto Sparrow </a>
	</p>
</div>
<!-- //copyright -->	
	
<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top"> 
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->

<!-- popup -->
<div id="popup2" class="popup-effect">
	<div class="popup">
		<iframe src="https://player.vimeo.com/video/188673754"></iframe>
		<p class="mt-4 ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
			laudantium, totam rem aperiam, eaque ipsa quae ab illo quasi architecto beatae vitae dicta
			sunt explicabo.</p>
		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup -->

<!-- popup for login -->
<div id="popup3" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
			<h5 class="text-center mb-4">Peraí, deixe-me ver seu crachá...</h5>
			<form action="{% url 'login' %}" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label class="mb-2">Email</label>
					<input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="meunome@meuprovedor.com" required>
					<small id="emailHelp" class="form-text text-muted">Nós nunca compartilharemos seu e-mail com os outros usuários.</small>
				</div>
				<div class="form-group">
					<label class="mb-2">Senha</label>
					<input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="MinhaSenha123" required>
				</div>
				<button type="submit" class="btn btn-primary submit mt-2">Login</button>
			<!--	<p class="text-center mt-2">
					<a href="#popup4"> Don't have an account?</a>
				</p> -->
			</form>
		</div>

		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup for login -->

<!-- popup for register -->
<div id="popup4" class="popup-effect">
	<div class="popup">
		<div class="login px-sm-4 mx-auto mw-100">
			<h5 class="text-center mb-4">Register Now</h5>
			<form action="#" method="post">
				<div class="form-group">
					<label>Full Name</label>
					<input type="text" class="form-control" id="validationDefault01" placeholder="" required="">
				</div>
				<div class="form-group">
					<label>Email Address</label>
					<input type="email" class="form-control" id="validationDefault02" placeholder="" required="">
				</div>
				<div class="form-group">
					<label class="mb-2">Password</label>
					<input type="password" class="form-control" id="password1" placeholder="" required="">
				</div>
				<div class="form-group">
					<label>Confirm Password</label>
					<input type="password" class="form-control" id="password2" placeholder="" required="">
				</div>

				<button type="submit" class="btn btn-primary submit">Register</button>
				<p class="text-center mt-3">
					<a href="#">By clicking Register, I agree to your terms</a>
				</p>
			</form>
		</div>
		<a class="close" href="#">&times;</a>
	</div>
</div>
<!-- //popup for register -->
	
</body>
</html>